body{
    background-color: #fcfafa;

}

header{
    height: 100px;
    width: 1900px;
    margin-bottom: 15px;
    background-color: #A63C3C;
    border-radius: 10px;
}

nav{  
display: flex;
align-items: center;
    
}

div.logoh{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    width: 95px;
}   

div.tres{
    display: flex;
    justify-content: center;
  
}

a.productos{ 
    background-color: #732626;
    height: 30px;
    width: 150px;
    border: 3px solid black;
    color:white;
    text-decoration: none;
    font-size:85%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}

a.productos:link{
    color:white;
}

a.productos:hover{
    color:rgb(255, 38, 0);
    text-decoration: underline;
}

a.productos:visited{
    color:white;
}

div.contenido{
margin-left: 25px;
display: flex;
justify-content: center;
}

form{
    display: flex;
  flex-direction: column;   
  height: 542px;
  width: 250px;
margin-left: 15px;

}

h1.titulos{
    color:rgb(255, 166, 0);
    font-weight: 300;
    font-size: 33px;
    line-height: 1.25;
    text-align: center;
}

div.contacto{
    font-weight: 400;
    font-size: 22px;
    margin-left: 150px;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img.email{
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-left: 90px;
}

div.cEmail{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 1.25;
    text-align: center;
    
}

input.espaciado{
    margin-bottom: 10px;
}

#mensaje{
    height: 100px;
}

button:hover{
    text-decoration: underline;
}

#enviar{
    color:white;
    margin-top: 10px;
    border: 3px solid #732626;
    background-color: #A63C3C;
    
}

/*Comienzo a trabajar con el footer:*/

footer {
    display: flex; 
    justify-content: space-around;
    align-items: center;
        height: 200px;
        width: 1900px;
        background-color: #A63C3C;
    
}

div.texto{
    color:white;
}

div.logo{
    background-color: white;
    height: 110px;
    width: 115px;
    display: flex;
    align-items: center;
justify-content: center;
border-radius: 10px;
}

#at{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#A63C3C;
font-size: 425%;

}

nav.navfooter{
    display: flex;
    flex-direction: column;

}

div a.productosf{
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

a.productosf:link{
    color:white;
}
a.productosf:hover{
    color:rgb(255, 38, 0);
    text-decoration: underline;
}

a.productosf:visited{
    color:white;
}