body{
    background-color: #fcfafa;

}

header{
    height: 100px;
    width: 1900px;
    margin-bottom: 15px;
    background-color: #A63C3C;
    border-radius: 10px;
}

div.logoh{
    background-color: white;
    height: 80px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 10px;
margin-top: 10px;
}

nav{  
    display:flex;   
    justify-content: space-around;
    align-items: center;
   
}

div.tres{
    height: 30px;
    width: 150px;
    border: 3px solid black;
    color:white;
    font-size:85%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #732626;
}

div a.productos{
        color: white;
        text-decoration: none;
        
}

a.productos:link{
    color:white;
}

a.productos:hover{
    color:rgb(255, 38, 0);
    text-decoration: underline;
}

a.productos:visited{
    color:white;
}

div.ofertas{
    display:flex;
    justify-content: space-around;
}

div.card{
    height: 300px;
    width: 170px;
    background-color: #732626;
    border-radius: 10px;
}

div.cuadradoBlanco{
    height: 200px;
    width: 150px;
    background-color: #A63C3C;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.texto{
    color:aliceblue;
    align-items: baseline;
}

p.NombreProducto{
    display:flex;
    justify-content: center;
    align-items: center;
}

p.PrecioProducto{
    display:flex;
    justify-content: center;
    align-items: center;
}

div.historia{
height: 500px;
}

/*Comienzo a trabajar con el footer:*/

footer {
    display: flex; 
    justify-content: space-around;
    align-items: center;
        height: 200px;
        width: 1900px;
        background-color: #A63C3C;
    
}

div.logo{
    background-color: white;
    height: 110px;
    width: 115px;
    display: flex;
    align-items: center;
justify-content: center;
border-radius: 10px;
}

#at{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:#A63C3C;
font-size: 425%;

}

nav.navfooter{
    display: flex;
    flex-direction: column;

}

div a.productosf{
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

a.productosf:link{
    color:white;
}
a.productosf:hover{
    color:rgb(255, 38, 0);
    text-decoration: underline;
}

a.productosf:visited{
    color:white;
}

a.productosf:visited{
    color:white;
}
